.root-child16,
.root-child17 {
  align-self: stretch;
  position: relative;
}
.root-child16 {
  height: 104.938rem;
  background-color: var(--color-honeydew-100);
  display: none;
}
.root-child17 {
  height: 1.875rem;
  background-color: var(--colors-base-00);
  z-index: 1;
}
.frame-child80 {
  height: 5.25rem;
  width: 39.375rem;
  position: relative;
  border-radius: var(--br-5xs) var(--br-5xs) 0 0;
  background-color: var(--colors-primary-primary-500);
  display: none;
  max-width: 100%;
}
.logo11 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-7xl);
  font-weight: 700;
  font-family: var(--paragraph-4-medium);
  color: var(--colors-base-00);
  text-align: left;
  display: inline-block;
  min-width: 4.688rem;
  z-index: 2;
}
.rectangle-parent24 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-8xl) var(--padding-xl) var(--padding-7xl);
  background-color: var(--colors-primary-primary-500);
  align-self: stretch;
  border-radius: var(--br-5xs) var(--br-5xs) 0 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  max-width: 100%;
  z-index: 1;
}
.button-more-about-us49:hover,
.button-more-about-us50:hover,
.rectangle-parent24:hover {
  background-color: var(--color-forestgreen-100);
}
.frame-child81 {
  width: 39.375rem;
  height: 68.625rem;
  position: relative;
  background-color: var(--colors-base-00);
  display: none;
  max-width: 100%;
}
.updated-from-whatscom {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  z-index: 2;
}
.update-details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs);
}
.mobile-chat-update-child {
  align-self: stretch;
  width: 38.125rem;
  position: relative;
  background-color: var(--color-mintcream);
  display: none;
  max-width: 100%;
}
.firefly-food-order-through-mob15 {
  height: 13.75rem;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.mobile-chat-update {
  align-self: stretch;
  height: 13.75rem;
  background-color: var(--color-mintcream);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs);
  box-sizing: border-box;
  max-width: 100%;
  z-index: 2;
}
.we-are-continuing7 {
  flex: 1;
  position: relative;
  line-height: 1.5rem;
  display: inline-block;
  max-width: 100%;
  z-index: 2;
}
.delivery-update,
.update-content {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.delivery-update {
  flex-direction: row;
  padding: 0 var(--padding-8xs);
  box-sizing: border-box;
  font-size: var(--paragraph-4-medium-size);
  color: var(--color-gray-1000);
}
.update-content {
  flex-direction: column;
  gap: var(--gap-base);
}
.button-more-about-us-child44 {
  height: 3.125rem;
  width: 8.063rem;
  position: relative;
  border-radius: var(--br-7xs);
  background-color: var(--colors-primary-primary-500);
  display: none;
}
.learn-more4 {
  position: relative;
  font-size: var(--paragraph-4-medium-size);
  display: inline-block;
  font-family: var(--paragraph-4-medium);
  color: var(--colors-base-00);
  text-align: center;
  min-width: 5.563rem;
  z-index: 1;
}
.button-more-about-us49,
.updates {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.button-more-about-us49 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-xl) var(--padding-mini);
  background-color: var(--colors-primary-primary-500);
  border-radius: var(--br-7xs);
  flex-direction: row;
  white-space: nowrap;
  z-index: 2;
}
.updates {
  align-self: stretch;
  flex-direction: column;
  padding: 0 0 var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.firefly-food-order-through-mob16 {
  height: 15.625rem;
  width: 15.625rem;
  position: relative;
  object-fit: cover;
  min-height: 15.625rem;
}
.is-live-in {
  margin: 0;
}
.our-authentication-solution-container {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.we-are-continuing8 {
  align-self: stretch;
  position: relative;
  font-size: var(--paragraph-5-regular-size);
  line-height: 1.5rem;
  color: var(--color-gray-1000);
}
.button-more-about-us50,
.footer-details {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-details {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xs);
}
.button-more-about-us50 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-lgi) var(--padding-mini)
    var(--padding-2xl);
  background-color: var(--colors-primary-primary-500);
  border-radius: var(--br-7xs);
  flex-direction: row;
  white-space: nowrap;
}
.chat-footer,
.firefly-food-order-through-mob-container {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.chat-footer {
  flex-direction: column;
  gap: var(--gap-5xl);
  min-width: 12.188rem;
}
.firefly-food-order-through-mob-container {
  background-color: var(--color-forestgreen-400);
  flex-direction: row;
  padding: var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-base);
  max-width: 100%;
  z-index: 2;
}
.chat-header {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-7xs);
  box-sizing: border-box;
  max-width: 100%;
}
.chat-header,
.frame-wrapper44,
.message-content,
.rectangle-parent25 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.message-content {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-12xs);
}
.frame-wrapper44,
.rectangle-parent25 {
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent25 {
  flex: 1;
  background-color: var(--colors-base-00);
  flex-direction: column;
  padding: var(--padding-5xl) var(--padding-3xs);
  gap: var(--gap-base);
  z-index: 1;
}
.frame-wrapper44 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 var(--padding-33xl);
}
.logo12 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 4.688rem;
  z-index: 1;
}
.content-logo {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-2xl) 0 var(--padding-xl);
}
.lorem-ipsum-is-container6 {
  height: 2.5rem;
  position: relative;
  font-size: var(--paragraph-5-regular-size);
  line-height: 1.25rem;
  text-align: center;
  display: inline-block;
  z-index: 1;
}
.content-details {
  width: 20.375rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
  max-width: 100%;
}
.content1,
.footer-child {
  align-self: stretch;
  box-sizing: border-box;
}
.content1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-6xl);
  max-width: 100%;
  font-size: var(--font-size-7xl);
}
.footer-child {
  height: 0.063rem;
  position: relative;
  border-top: 1px solid var(--colors-primary-slate-900);
  opacity: 0.2;
  z-index: 1;
}
.demos-pages-support17 {
  position: relative;
  letter-spacing: -0.1px;
  line-height: 1.625rem;
  white-space: pre-wrap;
  z-index: 1;
}
.footer8,
.navigation3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.footer8 {
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xl);
  gap: 0.906rem;
  text-align: center;
  font-size: var(--font-size-mini);
}
.e-honey-creek4 {
  position: relative;
  z-index: 1;
}
.e-honey-creek-drive-forest-h-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-smi) 0 var(--padding-sm);
}
.edit-you-profile7 {
  text-decoration: underline;
}
.edit-you-profile6 {
  color: inherit;
}
.lorem-ipsum-is-container7 {
  position: relative;
  line-height: 1.25rem;
  z-index: 1;
}
.contact-details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-mini);
  max-width: 100%;
}
.contact1 {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--paragraph-5-regular-size);
}
.contact1,
.frame-parent94,
.header,
.root13 {
  max-width: 100%;
  display: flex;
  align-items: flex-start;
}
.frame-parent94 {
  width: 39.375rem;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--paragraph-2-medium-size);
  color: var(--colors-primary-slate-900);
  font-family: var(--paragraph-4-medium);
}
.header,
.root13 {
  box-sizing: border-box;
}
.header {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.root13 {
  width: 53.125rem;
  background-color: var(--color-honeydew-100);
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 var(--padding-97xl);
  gap: var(--gap-11xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 600px) {
  .firefly-food-order-through-mob16,
  .footer-details {
    flex: 1;
  }
  .firefly-food-order-through-mob-container {
    flex-wrap: wrap;
  }
  .frame-wrapper44 {
    padding-bottom: var(--padding-3xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .logo11 {
    font-size: var(--font-size-2xl);
  }
  .our-authentication-solution-container,
  .updated-from-whatscom {
    font-size: var(--paragraph-4-medium-size);
  }
  .logo12 {
    font-size: var(--font-size-2xl);
  }
}
