.sh-bg-1-icon5 {
  width: 84.25rem;
  max-height: 100%;
  object-fit: cover;
  z-index: 0;
}
.hero-bg-1-icon10,
.root-child3,
.sh-bg-1-icon5 {
  position: relative;
  display: none;
  max-width: 100%;
}
.root-child3 {
  width: 25.375rem;
  height: 25.375rem;
  filter: blur(384px);
  border-radius: 50%;
  background-color: var(--colors-primary-primary-500);
  opacity: 0.5;
  z-index: 1;
}
.hero-bg-1-icon10 {
  width: 90rem;
  height: 28.125rem;
  object-fit: cover;
  z-index: 0;
}
.shadepro10 {
  text-decoration: none;
  position: absolute;
  top: 0.438rem;
  left: 0;
  letter-spacing: -0.13px;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 6.938rem;
  z-index: 1;
}
.register-child3 {
  height: 2.5rem;
  width: 6.125rem;
  position: relative;
  border-radius: var(--br-5xs);
  border: 1px solid var(--colors-primary-slate-900);
  box-sizing: border-box;
  display: none;
}
.register11 {
  text-decoration: none;
  position: relative;
  font-size: var(--paragraph-5-regular-size);
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--colors-primary-slate-900);
  text-align: center;
  display: inline-block;
  min-width: 3.625rem;
  z-index: 1;
}
.register10 {
  cursor: pointer;
  border: 1px solid var(--colors-primary-slate-900);
  padding: var(--padding-6xs) var(--padding-xl) var(--padding-5xs);
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 75.125rem;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.register10:hover {
  background-color: var(--color-dimgray-300);
  border: 1px solid var(--color-dimgray-200);
  box-sizing: border-box;
}
.demos-pages-support9 {
  width: 22.063rem;
  position: relative;
  letter-spacing: -0.1px;
  line-height: 1.625rem;
  white-space: pre-wrap;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.demos-pages-support-frame {
  width: 72.969rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.are-you-passionate,
.careers5 {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.careers5 {
  margin: 0;
  align-self: stretch;
  height: 5.625rem;
  font-size: inherit;
  line-height: 4rem;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.are-you-passionate {
  width: 49.063rem;
  line-height: 2rem;
  max-width: 100%;
  z-index: 2;
}
.are-you-passionate-about-trans-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--paragraph-4-medium-size);
  color: var(--color-darkslategray-100);
}
.careers-parent,
.frame-parent57 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.careers-parent {
  align-self: stretch;
  align-items: flex-start;
  font-size: var(--font-size-29xl);
}
.frame-parent57 {
  position: absolute;
  top: 0.5rem;
  left: 2.906rem;
  width: 75.5rem;
  align-items: flex-end;
  gap: 5.937rem;
  text-align: center;
  font-size: var(--font-size-mini);
}
.shadepro-group {
  align-self: stretch;
  height: 16.688rem;
  position: relative;
  max-width: 100%;
}
.frame-child47 {
  width: 0.063rem;
  height: 1.438rem;
  position: relative;
  border-right: 1px solid var(--colors-primary-slate-900);
  box-sizing: border-box;
  display: none;
  z-index: 2;
}
.frame-child48 {
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(464px);
  border-radius: 50%;
  background-color: var(--color-forestgreen-500);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.path-icon8 {
  position: absolute;
  top: 6.588rem;
  left: 31.969rem;
  width: 0.381rem;
  height: 0.706rem;
  z-index: 2;
}
.ellipse-container {
  width: 66.75rem;
  height: 31.313rem;
  position: absolute;
  margin: 0 !important;
  bottom: -18.312rem;
  left: calc(50% - 534px);
}
.about-us12,
.home4 {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  z-index: 2;
}
.home4 {
  color: inherit;
  min-width: 3.5rem;
}
.about-us12 {
  color: var(--colors-primary-primary-500);
  min-width: 2.938rem;
  white-space: nowrap;
}
.frame-wrapper27,
.home-group {
  display: flex;
  flex-direction: row;
  align-items: center;
 text-align: center;
}
.home-group {
  width: 12.25rem;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-wrapper27 {
  align-self: stretch;
  justify-content: center;
  padding: 0 0 0 var(--padding-12xs);
  font-size: var(--font-size-lg);
}
.hero-bg-1-container,
.root-inner6 {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.hero-bg-1-container {
  flex: 1;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-6xl) var(--padding-51xl) var(--padding-67xl);
  position: relative;
  gap: var(--gap-31xl);
  background-image: url(./public/herobg-1@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--short-description-4-semibold-size);
  color: var(--colors-primary-slate-900);
  font-family: var(--paragraph-4-medium);
}
.root-inner6 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 var(--padding-81xl);
}
.bg11 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--colors-primary-slate-900);
  width: 100rem;
  height: 37.438rem;
}
.hero-bg-1-icon11 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 5rem;
  max-height: 100%;
  width: 100rem;
  object-fit: cover;
  mix-blend-mode: soft-light;
  z-index: 1;
}
.bg-group {
  margin-left: -5rem;
  height: 62.25rem;
  width: 100rem;
  position: relative;
  flex-shrink: 0;
  max-width: 112%;
}
.root-inner7 {
  width: 100%;
  height: 35rem;
  margin: 0 !important;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}
.values {
  color: var(--colors-primary-primary-500);
}
.our-values {
  position: relative;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  min-width: 7.25rem;
}
.get5 {
  text-transform: capitalize;
}
.the-best-restaurant5,
.we-found-that {
  text-transform: lowercase;
}
.we-found-that {
  margin: 0;
}
.get-the-best-container5 {
  align-self: stretch;
  position: relative;
  font-size: var(--paragraph-4-medium-size);
  line-height: 2rem;
}
.frame-wrapper28,
.our-values-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.our-values-parent {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.frame-wrapper28 {
  width: 38.313rem;
  justify-content: flex-end;
  padding: 0 0 var(--padding-lg);
  box-sizing: border-box;
  min-width: 38.313rem;
  max-width: 100%;
}
.button-more-about-us-child21 {
  height: 3.125rem;
  width: 13.813rem;
  position: relative;
  border-radius: var(--br-7xs);
  border: 1px solid var(--colors-base-00);
  box-sizing: border-box;
  display: none;
}
.learn-more-about2 {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.tail-right-icon25 {
  width: 0.813rem;
  height: 0.706rem;
  position: relative;
  z-index: 1;
}
.button-more-about-us24 {
  margin: 0 !important;
  position: absolute;
  top: 1.875rem;
  right: -4.437rem;
  border-radius: var(--br-7xs);
  border: 1px solid var(--colors-base-00);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-lgi) var(--padding-smi);
  gap: var(--gap-3xs);
}
.business-ecommerce-market-reta-icon6 {
  height: 1.875rem;
  width: 1.875rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 1.875rem;
}
.customer-love {
  align-self: stretch;
  position: relative;
}
.customer-love-wrapper {
  width: 11.875rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
  flex-shrink: 0;
}
.business-ecommerce-market-reta-group {
  width: 100%;
  margin: 0 !important;
  position: absolute;
  top: -6.812rem;
  right: 0;
  left: 0;
  border: 1px solid var(--color-gray-900);
  box-sizing: border-box;
  padding: var(--padding-19xl) var(--padding-21xl);
  gap: var(--gap-5xs);
  height: 100%;
}
.business-ecommerce-market-reta-container,
.business-ecommerce-market-reta-group,
.frame-parent60 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.business-ecommerce-market-reta-container {
  width: 16.25rem;
  border: 1px solid var(--color-gray-900);
  box-sizing: border-box;
  padding: var(--padding-19xl) var(--padding-21xl);
  gap: var(--gap-5xs);
  z-index: 2;
}
.frame-parent60 {
  margin: 0 !important;
  position: absolute;
  top: 6.813rem;
  left: 0;
}
.ownership {
  position: relative;
  display: inline-block;
  min-width: 6.438rem;
}
.business-ecommerce-market-reta-parent1,
.ownership-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.business-ecommerce-market-reta-parent1 {
  width: 100%;
  margin: 0 !important;
  position: absolute;
  top: -6.812rem;
  right: 0;
  left: 0;
  border: 1px solid var(--color-gray-900);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-19xl) var(--padding-21xl);
  gap: var(--gap-6xs);
  height: 100%;
  z-index: 1;
}
.adaptability {
  position: relative;
  display: inline-block;
  min-width: 7.063rem;
}
.business-ecommerce-market-reta-parent2 {
  flex: 1;
  border: 1px solid var(--color-gray-900);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-19xl) var(--padding-21xl);
  gap: var(--gap-5xs);
  z-index: 3;
}
.frame-parent59,
.frame-parent61 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
}
.frame-parent61 {
  width: 16.25rem;
  justify-content: flex-start;
}
.frame-parent59 {
  flex: 1;
  background-color: var(--colors-base-00);
  justify-content: flex-end;
  padding: var(--padding-90xl) var(--padding-12xs) 0;
  box-sizing: border-box;
  max-width: 100%;
  z-index: 2;
  font-size: var(--paragraph-2-medium-size);
  color: var(--colors-primary-slate-900);
}
.shape-11-1-icon5 {
  height: 10.188rem;
  width: 9.438rem;
  position: absolute;
  margin: 0 !important;
  top: -10rem;
  right: -3.812rem;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 4;
}
.button-more-about-us-container {
  width: 32.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  min-width: 32.5rem;
  font-size: var(--paragraph-4-medium-size);
  color: var(--colors-base-00);
}
.button-more-about-us-container,
.frame-parent58,
.root-inner8 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.frame-parent58 {
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.root-inner8 {
  width: 85.563rem;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-51xl) var(--padding-81xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-100);
  font-family: var(--paragraph-4-medium);
}
.frame-child49 {
  width: 78.688rem;
  height: 53.869rem;
  position: relative;
  display: none;
  max-width: 100%;
}
.our-team {
  position: relative;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  min-width: 6.063rem;
}
.easy-way-to5 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 4.125rem;
  font-weight: 600;
  font-family: inherit;
}
.easy-way-to-connect-users-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.button-more-about-us-child22 {
  height: 3.125rem;
  width: 12.375rem;
  position: relative;
  border-radius: var(--br-7xs);
  background-color: var(--colors-primary-primary-500);
  display: none;
}
.connect-with-us5 {
  position: relative;
  font-size: var(--paragraph-4-medium-size);
  font-weight: 500;
  font-family: var(--paragraph-4-medium);
  color: var(--colors-base-00);
  text-align: left;
  display: inline-block;
  min-width: 7.813rem;
  z-index: 1;
}
.connect-with-us-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.tail-right-icon26 {
  height: 0.706rem;
  width: 0.813rem;
  position: relative;
  z-index: 1;
}
.button-more-about-us25 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-xl);
  background-color: var(--colors-primary-primary-500);
  border-radius: var(--br-7xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.frame-parent62,
.our-team-parent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent62 {
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-29xl);
  color: var(--colors-primary-slate-900);
}
.our-team-parent {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.image-128-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-7xs) var(--br-7xs) 0 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.ceo-name {
  position: relative;
  line-height: 1.75rem;
  display: inline-block;
  min-width: 6.813rem;
}
.ceo-name-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-mid);
}
.role-phone {
  position: relative;
  font-size: var(--paragraph-5-regular-size);
  line-height: 1.375rem;
  color: var(--color-gray-1000);
}
.frame-parent64,
.image-128-parent,
.member-name-grid {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent64 {
  flex-direction: column;
  gap: var(--gap-6xs);
}
.image-128-parent,
.member-name-grid {
  flex-direction: row;
  padding: 0 var(--padding-61xl);
}
.image-128-parent {
  align-self: stretch;
  width: 18.938rem;
  box-shadow: 0 50px 70px rgba(162, 182, 212, 0.16);
  border-radius: var(--br-7xs);
  background-color: var(--colors-base-00);
  flex-shrink: 0;
  flex-direction: column;
  padding: 0 0 var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-xs);
}
.cto-name {
  position: relative;
  line-height: 136.7%;
  display: inline-block;
  min-width: 6.813rem;
}
.cto-name-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.role-phone1 {
  position: relative;
  line-height: 1.375rem;
}
.image-128-group,
.role-phone-number-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.role-phone-number-wrapper {
  flex-direction: row;
  padding: 0 var(--padding-61xl);
  font-size: var(--paragraph-5-regular-size);
  color: var(--color-gray-1000);
}
.image-128-group {
  align-self: stretch;
  width: 18.938rem;
  box-shadow: 0 50px 70px rgba(162, 182, 212, 0.16);
  border-radius: var(--br-7xs);
  background-color: var(--colors-base-00);
  flex-shrink: 0;
  flex-direction: column;
  padding: 0 0 var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.cfo-name {
  position: relative;
  line-height: 136.7%;
  display: inline-block;
  min-width: 6.75rem;
}
.cfo-name-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-2xl) 0 var(--padding-xl);
}
.head-of-marketing {
  position: relative;
  line-height: 1.75rem;
}
.head-of-marketing-parent,
.role-phone-number-frame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.role-phone-number-frame {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-18xl) 0 var(--padding-17xl);
  font-size: var(--paragraph-5-regular-size);
  color: var(--color-gray-1000);
}
.head-of-marketing-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-6xs);
}
.frame-wrapper29,
.image-128-parent1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-24xl) 0 var(--padding-25xl);
}
.image-128-parent1 {
  width: 18.938rem;
  box-shadow: 0 50px 70px rgba(162, 182, 212, 0.16);
  border-radius: var(--br-7xs);
  background-color: var(--colors-base-00);
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-xs);
}
.frame-parent63,
.vector-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent63 {
  width: 81.25rem;
  height: 20.688rem;
  overflow-x: auto;
  flex-shrink: 0;
  flex-direction: row;
  gap: 1.831rem;
  text-align: center;
  font-size: var(--paragraph-2-medium-size);
  color: var(--colors-primary-slate-900);
}
.vector-container {
  align-self: stretch;
  background-color: var(--color-forestgreen-200);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-81xl) var(--padding-51xl);
  box-sizing: border-box;
  gap: var(--gap-60xl);
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-100);
  font-family: var(--paragraph-4-medium);
}
.people-centric-content-child {
  position: absolute;
  top: -21.937rem;
  left: 11.688rem;
  width: 78.688rem;
  height: 53.869rem;
  display: none;
}
.we-are-a {
  margin: 0;
}
.we-are-a-container {
  margin: 0;
  position: absolute;
  top: 9.75rem;
  left: 4.375rem;
  font-size: inherit;
  line-height: 4.125rem;
  font-weight: 600;
  font-family: inherit;
}
.our-team1 {
  position: absolute;
  top: 7.438rem;
  left: 4.375rem;
  font-size: var(--font-size-lg);
  letter-spacing: 0.01em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  min-width: 6.063rem;
  color: var(--color-darkslategray-100);
}
.people-centric-content-item {
  position: absolute;
  bottom: -18.325rem;
  left: calc(50% - 474px);
  filter: blur(464px);
  border-radius: 50%;
  background-color: var(--color-forestgreen-500);
  width: 59.25rem;
  height: 40.888rem;
}
.ownership-mentality {
  position: relative;
}
.button-more-about-us26,
.ownership-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.button-more-about-us26 {
  border-radius: var(--br-7xs);
  border: 1px solid var(--colors-base-00);
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-lgi) var(--padding-smi);
  gap: var(--gap-3xs);
  font-size: var(--paragraph-4-medium-size);
  color: var(--colors-base-00);
}
.ownership-content {
  align-self: stretch;
  height: 3.063rem;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.each-one-of {
  align-self: stretch;
  position: relative;
  font-size: var(--paragraph-4-medium-size);
  line-height: 2rem;
  text-transform: capitalize;
  color: var(--color-darkslategray-100);
  padding-right: var(--padding-11xl);
}
.ownership-content-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xl) 0 0;
}
.flexibility,
.we-value-flexibility {
  position: relative;
  display: inline-block;
}
.flexibility {
  min-width: 7.125rem;
}
.we-value-flexibility {
  width: 35.875rem;
  font-size: var(--paragraph-4-medium-size);
  line-height: 2rem;
  text-transform: capitalize;
  color: var(--color-darkslategray-100);
  max-width: 100%;
}
.value-grid {
  align-self: stretch;
  border-top: 1px solid var(--color-gray-900);
  border-bottom: 1px solid var(--color-gray-900);
  box-sizing: border-box;
  padding: var(--padding-9xl) 0;
  gap: var(--gap-xl);
}
.frame-parent65,
.value-grid,
.value-grid1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.value-grid1 {
  align-self: stretch;
  padding: 0 0 var(--padding-11xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.frame-parent65 {
  position: absolute;
  top: 6.25rem;
  left: 47.875rem;
  width: 37.75rem;
  gap: var(--gap-11xl);
  z-index: 2;
  font-size: var(--short-description-4-semibold-size);
}
.people-centric-content {
  height: 48.188rem;
  flex: 1;
  position: relative;
  background-color: var(--colors-base-00);
  overflow: hidden;
  max-width: 100%;
  z-index: 1;
}
.people-centric-content-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-81xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--colors-primary-slate-900);
  font-family: var(--paragraph-4-medium);
}
.job-positions {
  position: relative;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  font-weight: 500;
}
.were-always-searching-container {
  margin: 0;
  height: 8.25rem;
  position: relative;
  font-size: var(--font-size-29xl);
  line-height: 4.125rem;
  font-weight: 600;
  font-family: inherit;
  color: var(--colors-primary-slate-900);
  display: inline-block;
}
.positions-intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
  max-width: 100%;
}
.marketing {
  flex: 1;
  position: relative;
  letter-spacing: 0.01em;
  display: inline-block;
  max-width: calc(100% - 26px);
}
.icon-24-px-caretdown4 {
  height: 1.25rem;
  width: 1.25rem;
  position: relative;
}
.filter-options,
.filter-options-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.filter-options {
  flex: 1;
  border-radius: var(--br-7xs);
  background-color: var(--colors-base-00);
  border: 1px solid var(--color-slategray-100);
  box-sizing: border-box;
  padding: var(--padding-xs) var(--padding-4xs);
  gap: var(--gap-7xs);
  min-width: 19.375rem;
}
.filter-options-parent {
  align-self: stretch;
  flex-wrap: wrap;
  gap: var(--gap-12xl);
  font-size: var(--paragraph-4-medium-size);
}
.marketing-short-name-grid-child {
  height: 3.438rem;
  width: 3.438rem;
  position: relative;
  border-radius: var(--br-lg);
  background-color: var(--color-goldenrod-100);
  display: none;
}
.sm {
  position: relative;
  letter-spacing: 0.01em;
  display: inline-block;
  min-width: 2.188rem;
  z-index: 1;
}
.marketing-short-name-grid {
  border-radius: var(--br-lg);
  background-color: var(--color-goldenrod-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-4xs) var(--padding-smi)
    var(--padding-2xs);
}
.senior-marketing-agent {
  position: relative;
  letter-spacing: 0.01em;
}
.marketing-full-name-grid,
.marketing-role-grid {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base-5) 0 0;
  font-size: var(--font-size-lg);
  color: var(--color-gray-600);
}
.marketing-role-grid {
  flex-direction: row;
  padding: 0 var(--padding-205xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-4xs);
  max-width: 100%;
  font-size: var(--font-size-3xl);
  color: var(--color-gray-500);
}
.icon-24-px-handbag {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  min-height: 1.5rem;
}
.yrs-of-exp {
  position: relative;
  letter-spacing: 0.01em;
  display: inline-block;
  min-width: 7.813rem;
}
.icon-24-px-handbag-parent,
.marketing-experience-grid {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.icon-24-px-handbag-parent {
  flex-direction: row;
  gap: var(--gap-6xs);
}
.marketing-experience-grid {
  flex-direction: column;
  padding: 0.968rem 0 0;
}
.full-time {
  position: relative;
  letter-spacing: 0.01em;
  display: inline-block;
  min-width: 4.563rem;
}
.icon-24-px-clock-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.gujarat-india {
  position: relative;
  letter-spacing: 0.01em;
  display: inline-block;
  min-width: 7.25rem;
}
.icon-24-px-caretdown7 {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  object-fit: contain;
}
.marketing-grid {
  align-self: stretch;
  border-radius: var(--br-lg);
  background-color: var(--colors-base-00);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-lg) var(--padding-2xl) var(--padding-lg)
    var(--padding-lgi);
  max-width: 100%;
  gap: var(--gap-xl);
}
.frame-child50 {
  height: 3.438rem;
  width: 3.438rem;
  position: relative;
  border-radius: var(--br-lg);
  background-color: var(--color-lightpink);
  display: none;
}
.dm {
  position: relative;
  letter-spacing: 0.01em;
  display: inline-block;
  min-width: 2.313rem;
  z-index: 1;
}
.frame-parent66,
.marketing-grid1,
.rectangle-parent10 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.rectangle-parent10 {
  border-radius: var(--br-lg);
  background-color: var(--color-lightpink);
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-6xs) var(--padding-smi)
    var(--padding-2xs);
}
.frame-parent66,
.marketing-grid1 {
  box-sizing: border-box;
  max-width: 100%;
}
.frame-parent66 {
  justify-content: flex-start;
  padding: 0 var(--padding-178xl) 0 0;
  gap: var(--gap-4xs);
  font-size: var(--font-size-3xl);
  color: var(--color-gray-500);
}
.marketing-grid1 {
  align-self: stretch;
  box-shadow: 0 10px 20px rgba(162, 182, 212, 0.26);
  border-radius: var(--br-lg);
  background-color: var(--colors-base-00);
  border: 1px solid var(--color-gray-700);
  justify-content: space-between;
  padding: var(--padding-lg) var(--padding-2xl) var(--padding-lg)
    var(--padding-lgi);
  gap: var(--gap-xl);
}
.frame-child51 {
  height: 3.438rem;
  width: 3.438rem;
  position: relative;
  border-radius: var(--br-lg);
  background-color: var(--color-lightskyblue);
  display: none;
}
.me {
  position: relative;
  letter-spacing: 0.01em;
  display: inline-block;
  min-width: 2.125rem;
  z-index: 1;
}
.frame-parent67,
.marketing-positions,
.rectangle-parent11 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent11 {
  border-radius: var(--br-lg);
  background-color: var(--color-lightskyblue);
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-3xs) var(--padding-smi)
    var(--padding-2xs);
}
.frame-parent67,
.marketing-positions {
  max-width: 100%;
}
.frame-parent67 {
  flex-direction: row;
  padding: 0 var(--padding-191xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  font-size: var(--font-size-3xl);
  color: var(--color-gray-500);
}
.marketing-positions {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-5xl);
  color: var(--color-gray-600);
}
.content-specalist {
  align-self: stretch;
  position: relative;
  font-size: var(--paragraph-2-medium-size);
  color: var(--colors-primary-slate-900);
}
.content-job-short-hand-child {
  height: 3.438rem;
  width: 3.438rem;
  position: relative;
  border-radius: var(--br-lg);
  background-color: var(--color-darkslateblue-200);
  display: none;
}
.content-job,
.content-job-short-hand {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.content-job-short-hand {
  border-radius: var(--br-lg);
  background-color: var(--color-darkslateblue-200);
  padding: var(--padding-sm) var(--padding-4xs) var(--padding-smi)
    var(--padding-2xs);
}
.content-job {
  padding: 0 var(--padding-221xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  max-width: 100%;
  font-size: var(--font-size-3xl);
  color: var(--color-gray-500);
}
.frame-child52,
.rectangle-parent12 {
  border-radius: var(--br-lg);
  background-color: var(--color-lightgreen);
}
.frame-child52 {
  height: 3.438rem;
  width: 3.438rem;
  position: relative;
  display: none;
}
.rectangle-parent12 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-6xs) var(--padding-smi)
    var(--padding-2xs);
}
.frame-parent68 {
  flex-direction: row;
  padding: 0 var(--padding-190xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  font-size: var(--font-size-3xl);
  color: var(--color-gray-500);
}
.frame-parent68,
.positions-content,
.positions-content-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.positions-content {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-31xl);
}
.positions-content-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-50xl) var(--padding-81xl) var(--padding-51xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-100);
  font-family: var(--paragraph-4-medium);
}
.root-child4 {
  width: 78.688rem;
  max-height: 100%;
  display: none;
  z-index: 8;
}
.ready-to-get5,
.rectangle5,
.root-child4 {
  position: relative;
  max-width: 100%;
}
.rectangle5 {
  align-self: stretch;
  width: 81.25rem;
  border-radius: var(--br-lg);
  background-color: var(--colors-primary-primary-500);
  display: none;
}
.ready-to-get5 {
  margin: 0;
  flex: 1;
  font-size: inherit;
  line-height: 2.75rem;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.title5 {
  width: 42.813rem;
  border-radius: var(--br-lg);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-31xl) 0;
  box-sizing: border-box;
  min-width: 42.813rem;
  max-width: 100%;
  z-index: 1;
}
.button-more-about-us-child24 {
  height: 3.125rem;
  width: 14.625rem;
  position: relative;
  border-radius: var(--br-7xs);
  border: 1px solid var(--colors-base-00);
  box-sizing: border-box;
  display: none;
}
.supportwhatscomcom5 {
  position: relative;
  font-size: var(--paragraph-4-medium-size);
  font-weight: 500;
  font-family: var(--paragraph-4-medium);
  color: var(--colors-base-00);
  text-align: left;
  white-space: nowrap;
  z-index: 1;
}
.button-more-about-us-child25,
.button-more-about-us27 {
  border-radius: var(--br-7xs);
  border: 1px solid var(--colors-base-00);
}
.button-more-about-us27 {
  cursor: pointer;
  padding: var(--padding-sm) var(--padding-xl) var(--padding-smi);
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.button-more-about-us27:hover,
.button-more-about-us28:hover {
  background-color: var(--color-gainsboro-300);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
}
.button-more-about-us-child25 {
  height: 3.125rem;
  width: 10.938rem;
  position: relative;
  background-color: var(--colors-base-00);
  box-sizing: border-box;
  display: none;
}
.book-a-demo5 {
  position: relative;
  font-size: var(--paragraph-4-medium-size);
  font-weight: 500;
  font-family: var(--paragraph-4-medium);
  color: var(--colors-primary-slate-900);
  text-align: left;
  z-index: 1;
}
.button-more-about-us28,
.contact-options {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button-more-about-us28 {
  cursor: pointer;
  border: 1px solid var(--colors-base-00);
  padding: var(--padding-sm) var(--padding-sm) var(--padding-xs)
    var(--padding-xl);
  background-color: var(--colors-base-00);
  border-radius: var(--br-7xs);
  white-space: nowrap;
  z-index: 1;
}
.button-more-about-us28:hover {
  background-color: var(--color-gainsboro-100);
}
.contact-options {
  gap: var(--gap-11xl);
}
.action,
.button-pair,
.cta5 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.button-pair {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-50xl) 0 0;
  min-width: 27.438rem;
}
.action,
.cta5 {
  flex-direction: row;
}
.cta5 {
  flex: 1;
  border-radius: var(--br-lg);
  background-color: var(--colors-primary-primary-500);
  justify-content: space-between;
  padding: 0 var(--padding-22xl) 0 var(--padding-21xl);
  gap: var(--gap-xl);
  z-index: 2;
}
.action {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 var(--padding-51xl) var(--padding-81xl);
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--colors-base-00);
  font-family: var(--paragraph-4-medium);
}
.shadepro11 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.16px;
  font-weight: 700;
  font-family: inherit;
  z-index: 2;
}
.with-lots-of8 {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.1px;
  line-height: 1.625rem;
  mix-blend-mode: normal;
  z-index: 2;
}
.logo-twitter-icon5 {
  width: 1.063rem;
  height: 0.938rem;
  position: relative;
  z-index: 2;
}
.logo-twitter-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-12xs);
}
.logo-facebook-icon5,
.logo-instagram-icon5 {
  height: 1.125rem;
  width: 1.125rem;
  position: relative;
  min-height: 1.125rem;
  z-index: 2;
}
.logo-instagram-icon5 {
  object-fit: cover;
}
.twitter-handle {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-4xl-7);
}
.brand-statement,
.social-media {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.social-media {
  align-self: stretch;
  gap: var(--gap-25xl);
  font-size: var(--font-size-mini);
  color: var(--color-gray-1100);
}
.brand-statement {
  width: 16.269rem;
  gap: var(--gap-16xl);
  min-width: 16.269rem;
}
.company5 {
  position: relative;
  letter-spacing: -0.1px;
  line-height: 1.625rem;
  display: inline-block;
  mix-blend-mode: normal;
  min-width: 4.25rem;
  z-index: 2;
}
.about-us-contact-container5 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-mid);
  letter-spacing: -0.2px;
  line-height: 2.5rem;
  color: var(--colors-base-00);
  z-index: 2;
}
.link-category {
  width: 8.55rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.product5 {
  position: relative;
  letter-spacing: -0.1px;
  line-height: 1.625rem;
  display: inline-block;
  mix-blend-mode: normal;
  min-width: 3.5rem;
  z-index: 2;
}
.product-container {
  width: 7.675rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.services5 {
  position: relative;
  letter-spacing: -0.1px;
  line-height: 1.625rem;
  display: inline-block;
  mix-blend-mode: normal;
  min-width: 3.813rem;
  z-index: 2;
}
.link-category1 {
  width: 9.488rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.legal5,
.privacy-policy-terms-container5 {
  position: relative;
  display: inline-block;
  z-index: 2;
}
.legal5 {
  letter-spacing: -0.1px;
  line-height: 1.625rem;
  mix-blend-mode: normal;
  min-width: 2.375rem;
}
.privacy-policy-terms-container5 {
  height: 7.5rem;
  font-size: var(--font-size-mid);
  letter-spacing: -0.2px;
  line-height: 2.5rem;
  color: var(--colors-base-00);
}
.legal-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.link-categories,
.social-links1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.link-categories {
  justify-content: flex-start;
  gap: var(--gap-35xl-2);
  min-width: 45.431rem;
  font-size: var(--font-size-mini);
  color: var(--color-gray-1100);
}
.social-links1 {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.footer-content4,
.root5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.footer-content4 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-59xl) 0 var(--padding-51xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-9xl);
  color: var(--colors-base-00);
  font-family: var(--paragraph-4-medium);
}
.root5 {
  width: 100%;
  position: relative;
  background-color: var(--colors-base-00);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-11xs) 0 6.937rem;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1350px) {
  .button-more-about-us-container,
  .frame-wrapper28 {
    flex: 1;
  }
  .frame-parent58 {
    flex-wrap: wrap;
  }
  .root-inner8 {
    padding-left: var(--padding-16xl);
    padding-right: var(--padding-16xl);
    box-sizing: border-box;
  }
  .marketing-grid,
  .marketing-grid1 {
    flex-wrap: wrap;
  }
  .button-pair,
  .title5 {
    flex: 1;
  }
  .cta5 {
    flex-wrap: wrap;
  }
  .brand-statement,
  .link-categories {
    flex: 1;
  }
  .social-links1 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1150px) {
  .frame-parent62 {
    flex-wrap: wrap;
  }
  .people-centric-content-wrapper,
  .positions-content-wrapper {
    padding-bottom: var(--padding-46xl);
    box-sizing: border-box;
  }
  .link-categories,
  .title5 {
    min-width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .hero-bg-1-container {
    gap: var(--gap-6xl);
    padding-left: var(--padding-16xl);
    padding-right: var(--padding-16xl);
    box-sizing: border-box;
  }
  .root-inner6 {
    padding-bottom: var(--padding-46xl);
    box-sizing: border-box;
  }
  .our-values-parent {
    gap: var(--gap-base);
  }
  .button-more-about-us-container,
  .frame-wrapper28 {
    min-width: 100%;
  }
  .easy-way-to5 {
    font-size: var(--font-size-19xl);
    line-height: 3.313rem;
  }
  .vector-container {
    gap: var(--gap-20xl);
    padding: var(--padding-46xl) var(--padding-16xl);
    box-sizing: border-box;
  }
  .we-are-a-container,
  .were-always-searching-container {
    font-size: var(--font-size-19xl);
    line-height: 3.313rem;
  }
  .filter-options-parent {
    gap: var(--gap-mini);
  }
  .frame-parent66,
  .marketing-role-grid {
    flex-wrap: wrap;
    padding-right: var(--padding-93xl);
    box-sizing: border-box;
  }
  .frame-parent66 {
    padding-right: var(--padding-79xl);
  }
  .content-job,
  .frame-parent67,
  .frame-parent68 {
    flex-wrap: wrap;
    padding-right: var(--padding-86xl);
    box-sizing: border-box;
  }
  .content-job,
  .frame-parent68 {
    padding-right: var(--padding-101xl);
  }
  .frame-parent68 {
    padding-right: var(--padding-85xl);
  }
  .positions-content {
    gap: var(--gap-6xl);
  }
  .positions-content-wrapper {
    padding-left: var(--padding-16xl);
    padding-right: var(--padding-15xl);
    padding-bottom: var(--padding-23xl);
    box-sizing: border-box;
  }
  .ready-to-get5 {
    font-size: var(--font-size-7xl);
    line-height: 2.188rem;
  }
  .contact-options {
    flex-wrap: wrap;
  }
  .button-pair {
    min-width: 100%;
  }
  .action {
    padding-left: var(--padding-16xl);
    padding-right: var(--padding-16xl);
    box-sizing: border-box;
  }
  .link-categories {
    flex-wrap: wrap;
    gap: var(--gap-8xl);
  }
  .footer-content4 {
    padding-left: var(--padding-16xl);
    padding-right: var(--padding-20xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .hero-bg-1-container {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-37xl);
    box-sizing: border-box;
  }
  .adaptability,
  .customer-love,
  .ownership {
    font-size: var(--paragraph-4-medium-size);
  }
  .easy-way-to5 {
    font-size: var(--font-size-10xl);
    line-height: 2.5rem;
  }
  .ceo-name {
    font-size: var(--paragraph-4-medium-size);
    line-height: 1.375rem;
  }
  .member-name-grid {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .cto-name {
    font-size: var(--paragraph-4-medium-size);
    line-height: 1.375rem;
  }
  .role-phone-number-wrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .cfo-name,
  .head-of-marketing {
    font-size: var(--paragraph-4-medium-size);
    line-height: 1.375rem;
  }
  .frame-wrapper29 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .vector-container {
    gap: var(--gap-xl);
  }
  .we-are-a-container {
    font-size: var(--font-size-10xl);
    line-height: 2.5rem;
  }
  .flexibility,
  .ownership-mentality {
    font-size: var(--font-size-lgi);
  }
  .people-centric-content-wrapper {
    padding-bottom: var(--padding-23xl);
    box-sizing: border-box;
  }
  .were-always-searching-container {
    font-size: var(--font-size-10xl);
    line-height: 2.5rem;
  }
  .dm,
  .me,
  .sm {
    font-size: var(--font-size-lg);
  }
  .content-specalist {
    font-size: var(--paragraph-4-medium-size);
  }
  .ready-to-get5 {
    font-size: var(--font-size-lgi);
    line-height: 1.625rem;
  }
  .shadepro11 {
    font-size: var(--font-size-3xl);
  }
  .social-media {
    gap: var(--gap-3xl);
  }
  .brand-statement {
    gap: var(--gap-mid);
  }
}

#preload {
  background: #000 url('public/310bd5e506029378acb4b3c8e9d545a7.gif') no-repeat center center;
  background-size: 15%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}
body {
  cursor: url('public/arrow-cursor.svg'), auto; /* The image and fallback */
}