.root-child12,
.root-child13 {
  align-self: stretch;
  position: relative;
}
.root-child12 {
  height: 104.938rem;
  background-color: var(--color-honeydew-100);
  display: none;
}
.root-child13 {
  height: 1.875rem;
  background-color: var(--colors-base-00);
  z-index: 1;
}
.frame-child71 {
  height: 5.25rem;
  width: 39.375rem;
  position: relative;
  border-radius: var(--br-5xs) var(--br-5xs) 0 0;
  background-color: var(--colors-primary-primary-500);
  display: none;
  max-width: 100%;
}
.logo7 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-7xl);
  font-weight: 700;
  font-family: var(--paragraph-4-medium);
  color: var(--colors-base-00);
  text-align: left;
  display: inline-block;
  min-width: 4.688rem;
  z-index: 2;
}
.rectangle-parent19 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-8xl) var(--padding-xl) var(--padding-7xl);
  background-color: var(--colors-primary-primary-500);
  align-self: stretch;
  border-radius: var(--br-5xs) var(--br-5xs) 0 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  max-width: 100%;
  z-index: 1;
}
.button-more-about-us45:hover,
.rectangle-parent19:hover {
  background-color: var(--color-forestgreen-100);
}
.chat-image-wrapper-child,
.delivery-title-child {
  align-self: stretch;
  position: relative;
  display: none;
}
.delivery-title-child {
  height: 69.375rem;
  background-color: var(--colors-base-00);
}
.chat-image-wrapper-child {
  width: 38.125rem;
  background-color: var(--color-mintcream);
  max-width: 100%;
}
.firefly-food-order-through-mob8 {
  height: 13.75rem;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.chat-image-wrapper,
.mobile-chat-image {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.chat-image-wrapper {
  flex: 1;
  background-color: var(--color-mintcream);
  padding: 0 var(--padding-8xs);
  z-index: 2;
}
.mobile-chat-image {
  height: 13.75rem;
  padding: 0 var(--padding-3xs);
}
.we-are-continuing {
  align-self: stretch;
  position: relative;
  line-height: 1.5rem;
  z-index: 2;
}
.button-more-about-us-child40 {
  height: 3.125rem;
  width: 8.063rem;
  position: relative;
  border-radius: var(--br-7xs);
  background-color: var(--colors-primary-primary-500);
  display: none;
}
.learn-more {
  text-decoration: none;
  position: relative;
  font-size: var(--paragraph-4-medium-size);
  font-weight: 700;
  font-family: var(--paragraph-4-medium);
  color: var(--colors-base-00);
  text-align: center;
  display: inline-block;
  min-width: 5.563rem;
  z-index: 1;
}
.button-more-about-us45,
.more-about-us-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.button-more-about-us45 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-xl) var(--padding-mini);
  background-color: var(--colors-primary-primary-500);
  border-radius: var(--br-7xs);
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 2;
}
.more-about-us-button {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-2xl) 0 var(--padding-xl);
}
.business-growth,
.growth-description {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.growth-description {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-base);
  max-width: 100%;
}
.business-growth {
  flex-direction: row;
  padding: 0 var(--padding-mini) var(--padding-5xs);
  text-align: center;
  font-size: var(--paragraph-4-medium-size);
  color: var(--color-gray-1000);
}
.business-growth,
.delivery-description,
.engaging-deliveries {
  align-self: stretch;
  box-sizing: border-box;
  max-width: 100%;
}
.engaging-deliveries {
  flex: 1;
  position: relative;
  border-top: 1px solid var(--colors-primary-slate-900);
  opacity: 0.2;
  z-index: 2;
}
.delivery-description {
  height: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-6xs);
}
.firefly-food-order-through-mob9 {
  height: 10rem;
  width: 10rem;
  position: relative;
  object-fit: cover;
  z-index: 2;
}
.our-authentication-solution {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  z-index: 2;
}
.we-are-continuing1 {
  align-self: stretch;
  position: relative;
  font-size: var(--paragraph-5-regular-size);
  line-height: 1.5rem;
  color: var(--color-gray-1000);
  z-index: 2;
}
.authentication-solution {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  min-width: 17.125rem;
  max-width: 100%;
}
.delivery-description1,
.firefly-food-order-through-mob-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.firefly-food-order-through-mob-parent {
  flex: 1;
  gap: var(--gap-base);
}
.delivery-description1 {
  align-self: stretch;
  padding: 0 var(--padding-base) var(--padding-5xs);
  box-sizing: border-box;
}
.create-more-engaging {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 2;
}
.delivery-description5 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-base);
}
.delivery-description5,
.delivery-title,
.delivery-title-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.delivery-title {
  flex: 1;
  background-color: var(--colors-base-00);
  flex-direction: column;
  padding: var(--padding-base) 0 var(--padding-5xl);
  gap: var(--gap-base);
  z-index: 1;
}
.delivery-title-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 var(--padding-21xl);
}
.logo8 {
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 4.688rem;
  z-index: 1;
}
.logo8,
.lorem-ipsum-is2 {
  margin: 0;
}
.lorem-ipsum-is-container2 {
  height: 2.5rem;
  position: relative;
  font-size: var(--paragraph-5-regular-size);
  line-height: 1.25rem;
  text-align: center;
  display: inline-block;
  z-index: 1;
}
.footer-content7 {
  width: 20.375rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
  max-width: 100%;
}
.footer-divider,
.footer7 {
  align-self: stretch;
  box-sizing: border-box;
}
.footer7 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-6xl);
  max-width: 100%;
  font-size: var(--font-size-7xl);
}
.footer-divider {
  height: 0.063rem;
  position: relative;
  border-top: 1px solid var(--colors-primary-slate-900);
  opacity: 0.2;
  z-index: 1;
}
.demos-pages-support15 {
  position: relative;
  letter-spacing: -0.1px;
  line-height: 1.625rem;
  white-space: pre-wrap;
  z-index: 1;
}
.footer-navigation,
.navigation-links {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.footer-navigation {
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 var(--padding-mini);
  gap: var(--gap-sm);
  text-align: center;
  font-size: var(--font-size-mini);
}
.footer-spacing,
.footer-spacing-child {
  align-self: stretch;
  box-sizing: border-box;
  max-width: 100%;
}
.footer-spacing-child {
  flex: 1;
  position: relative;
  border-top: 1px solid var(--colors-primary-slate-900);
  opacity: 0.2;
  z-index: 1;
}
.footer-spacing {
  height: 1.875rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xl);
}
.e-honey-creek2 {
  position: relative;
  z-index: 1;
}
.address-details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-smi) 0 var(--padding-sm);
}
.edit-you-profile3 {
  text-decoration: underline;
}
.edit-you-profile2 {
  color: inherit;
}
.lorem-ipsum-is-container3 {
  position: relative;
  line-height: 1.25rem;
  z-index: 1;
}
.address-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-mini);
  max-width: 100%;
}
.address-content-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--paragraph-5-regular-size);
}
.address-content-wrapper,
.content-column,
.main-content1,
.root11 {
  max-width: 100%;
  display: flex;
  align-items: flex-start;
}
.content-column {
  width: 39.375rem;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--paragraph-2-medium-size);
  color: var(--colors-primary-slate-900);
  font-family: var(--paragraph-4-medium);
}
.main-content1,
.root11 {
  box-sizing: border-box;
}
.main-content1 {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.root11 {
  width: 53.125rem;
  background-color: var(--color-honeydew-100);
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 var(--padding-97xl);
  gap: var(--gap-11xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 550px) {
  .firefly-food-order-through-mob9 {
    flex: 1;
  }
  .firefly-food-order-through-mob-parent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .logo7 {
    font-size: var(--font-size-2xl);
  }
  .create-more-engaging,
  .our-authentication-solution {
    font-size: var(--paragraph-4-medium-size);
  }
  .logo8 {
    font-size: var(--font-size-2xl);
  }
}
