.root-child18,
.root-child19 {
  align-self: stretch;
  position: relative;
}
.root-child18 {
  height: 119.938rem;
  background-color: var(--color-honeydew-100);
  display: none;
}
.root-child19 {
  height: 1.875rem;
  background-color: var(--colors-base-00);
  z-index: 1;
}
.frame-child82 {
  height: 5.25rem;
  width: 39.375rem;
  position: relative;
  border-radius: var(--br-5xs) var(--br-5xs) 0 0;
  background-color: var(--colors-primary-primary-500);
  display: none;
  max-width: 100%;
}
.logo13 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-7xl);
  font-weight: 700;
  font-family: var(--paragraph-4-medium);
  color: var(--colors-base-00);
  text-align: left;
  display: inline-block;
  min-width: 4.688rem;
  z-index: 2;
}
.rectangle-parent26 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-8xl) var(--padding-xl) var(--padding-7xl);
  background-color: var(--colors-primary-primary-500);
  align-self: stretch;
  border-radius: var(--br-5xs) var(--br-5xs) 0 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  max-width: 100%;
  z-index: 1;
}
.button-more-about-us52:hover,
.rectangle-parent26:hover {
  background-color: var(--color-forestgreen-100);
}
.frame-child83 {
  width: 39.375rem;
  height: 90.625rem;
  position: relative;
  background-color: var(--colors-base-00);
  display: none;
  max-width: 100%;
  z-index: 0;
}
.frame-child84 {
  width: calc(100% + 1px);
  height: 0.063rem;
  position: absolute;
  margin: 0 !important;
  top: 30.875rem;
  right: -0.062rem;
  left: 0;
  border-top: 1px solid var(--colors-primary-slate-900);
  box-sizing: border-box;
  opacity: 0.2;
  z-index: 2;
}
.updated-from-whatscom1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  z-index: 2;
}
.updated-from-whatscom-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs);
}
.frame-child85 {
  align-self: stretch;
  width: 38.125rem;
  position: relative;
  background-color: var(--color-mintcream);
  display: none;
  max-width: 100%;
}
.firefly-food-order-through-mob18 {
  height: 13.75rem;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.rectangle-parent28 {
  align-self: stretch;
  height: 13.75rem;
  background-color: var(--color-mintcream);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs);
  box-sizing: border-box;
  max-width: 100%;
  z-index: 2;
}
.frame-child86,
.we-are-continuing10 {
  align-self: stretch;
  position: relative;
  z-index: 2;
}
.we-are-continuing10 {
  line-height: 1.5rem;
}
.frame-child86 {
  flex: 1;
  border-radius: var(--br-7xs);
  background-color: var(--colors-primary-primary-500);
}
.learn-more7 {
  position: relative;
  display: inline-block;
  min-width: 5.563rem;
  white-space: nowrap;
  z-index: 3;
}
.learn-more-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-xl);
}
.heading1 {
  margin: 0;
  position: relative;
  font-size: var(--paragraph-2-medium-size);
  font-weight: 700;
  font-family: inherit;
  color: var(--colors-primary-slate-900);
  text-align: left;
  display: inline-block;
  min-width: 5.125rem;
  z-index: 2;
}
.delivery-link-content,
.rectangle-parent29 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.rectangle-parent29 {
  width: 8.063rem;
  height: 7.625rem;
  gap: var(--gap-lg);
  text-align: center;
  color: var(--colors-base-00);
}
.delivery-content,
.delivery-content-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.delivery-content {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xl);
}
.delivery-content-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-8xs);
  box-sizing: border-box;
  font-size: var(--paragraph-4-medium-size);
  color: var(--color-gray-1000);
}
.firefly-food-order-through-mob19 {
  height: 15.625rem;
  width: 15.625rem;
  position: relative;
  object-fit: cover;
  min-height: 15.625rem;
}
.our-authentication-solution3 {
  margin: 0;
}
.our-authentication-solution-container2 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.we-are-continuing11 {
  align-self: stretch;
  position: relative;
  font-size: var(--paragraph-5-regular-size);
  line-height: 1.5rem;
  color: var(--color-gray-1000);
}
.about-body-row,
.our-authentication-solution-is-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.our-authentication-solution-is-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xs);
}
.about-body-row {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-12xs);
}
.button-more-about-us-child47 {
  height: 3.125rem;
  width: 8.063rem;
  position: relative;
  border-radius: var(--br-7xs);
  background-color: var(--colors-primary-primary-500);
  display: none;
}
.learn-more8 {
  position: relative;
  font-size: var(--paragraph-4-medium-size);
  display: inline-block;
  font-family: var(--paragraph-4-medium);
  color: var(--colors-base-00);
  text-align: center;
  min-width: 5.563rem;
  z-index: 1;
}
.button-more-about-us52 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-lgi) var(--padding-mini)
    var(--padding-2xl);
  background-color: var(--colors-primary-primary-500);
  border-radius: var(--br-7xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}
.about-body-row-parent,
.about-title-row {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.about-body-row-parent {
  flex-direction: column;
  gap: var(--gap-5xl);
  min-width: 12.188rem;
}
.about-title-row {
  background-color: var(--color-forestgreen-400);
  flex-direction: row;
  padding: var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-base);
  max-width: 100%;
  z-index: 2;
}
.about-title-row-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-7xs);
}
.about-title-row-wrapper,
.frame-wrapper45,
.rectangle-parent27 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent27 {
  flex: 1;
  background-color: var(--colors-base-00);
  flex-direction: column;
  padding: var(--padding-5xl) var(--padding-3xs) var(--padding-sm);
  position: relative;
  gap: var(--gap-base);
  z-index: 1;
}
.frame-wrapper45 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 var(--padding-15xl);
}
.logo14 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 4.688rem;
  z-index: 1;
}
.footer-logo1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-2xl) 0 var(--padding-xl);
}
.lorem-ipsum-is-container8 {
  height: 2.5rem;
  position: relative;
  font-size: var(--paragraph-5-regular-size);
  line-height: 1.25rem;
  text-align: center;
  display: inline-block;
  z-index: 1;
}
.footer-content9 {
  width: 20.375rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
  max-width: 100%;
}
.footer9,
.support-child {
  align-self: stretch;
  box-sizing: border-box;
}
.footer9 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-6xl);
  max-width: 100%;
  font-size: var(--font-size-7xl);
}
.support-child {
  height: 0.063rem;
  position: relative;
  border-top: 1px solid var(--colors-primary-slate-900);
  opacity: 0.2;
  z-index: 1;
}
.demos-pages-support18 {
  position: relative;
  letter-spacing: -0.1px;
  line-height: 1.625rem;
  white-space: pre-wrap;
  z-index: 1;
}
.demos-pages-support-wrapper3,
.support9 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.support9 {
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 var(--padding-mini);
  gap: var(--gap-sm);
  text-align: center;
  font-size: var(--font-size-mini);
}
.address-separator,
.address-separator-wrapper {
  align-self: stretch;
  box-sizing: border-box;
  max-width: 100%;
}
.address-separator {
  flex: 1;
  position: relative;
  border-top: 1px solid var(--colors-primary-slate-900);
  opacity: 0.2;
  z-index: 1;
}
.address-separator-wrapper {
  height: 1.875rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xl);
}
.e-honey-creek5 {
  position: relative;
  z-index: 1;
}
.e-honey-creek-drive-forest-h-wrapper1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-smi) 0 var(--padding-sm);
}
.edit-you-profile9 {
  text-decoration: underline;
}
.edit-you-profile8 {
  color: inherit;
}
.lorem-ipsum-is-container9 {
  position: relative;
  line-height: 1.25rem;
  z-index: 1;
}
.address-content1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-mini);
  max-width: 100%;
}
.address-content-container {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--paragraph-5-regular-size);
}
.address-content-container,
.frame-parent96,
.root-inner12,
.root14 {
  max-width: 100%;
  display: flex;
  align-items: flex-start;
}
.frame-parent96 {
  width: 39.375rem;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--paragraph-2-medium-size);
  color: var(--colors-primary-slate-900);
  font-family: var(--paragraph-4-medium);
}
.root-inner12,
.root14 {
  box-sizing: border-box;
}
.root-inner12 {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.root14 {
  width: 53.125rem;
  background-color: var(--color-honeydew-100);
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 var(--padding-3xl);
  gap: var(--gap-11xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 550px) {
  .firefly-food-order-through-mob19,
  .our-authentication-solution-is-parent {
    flex: 1;
  }
  .about-title-row {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .logo13 {
    font-size: var(--font-size-2xl);
  }
  .heading1,
  .our-authentication-solution-container2,
  .updated-from-whatscom1 {
    font-size: var(--paragraph-4-medium-size);
  }
  .logo14 {
    font-size: var(--font-size-2xl);
  }
}
